# Core
python-dotenv
requests
numpy

# Image processing (Dùng bản headless nhẹ hơn 500MB)
opencv-python-headless
pillow
flask
cors

# OCR & Detection (Chỉ giữ tên, cài đặt sẽ xử lý ở Dockerfile)
paddleocr
ultralytics

# LLM & Storage
google-generativeai
cloudinary